<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>People</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet"
	type="text/css" />
<script th:src="@{/js/fetch.js}"></script>
</head>

<body>

	<div class='container'>

		<table id='peopleTable'>

		</table>
	</div>

</body>
</html>