<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>PayPont</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<!-- Bootstrap core JavaScript -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/fetch.js}"></script>


</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="">Paypont</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="">Home
							<span class="sr-only">(current)</span>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="mt-5">Data Table Demo</h1>
				<p class="lead"></p>



				<form onsubmit="return false">
					<input id="name" class="form-control mr-sm-2" type="text"
						placeholder="Search By Last Name" aria-label="Search Last Name"> <br> <input type="submit"
						class="btn btn-dark" value="Submit" onclick="updateTable()">
					<button class="btn btn-dark" onclick="sortTable(0)">Sort By
						First Name</button>
				</form>

				<br> <br>



				<table class='table' id='peopleTable'>

				</table>

				<ul class="list-unstyled">

					<li></li>
					<li></li>
					<li></li>
					
					<li> © Yasir Asiri</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>


</body>

</html>
